@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    font-family: 'Nunito',sans-serif;
}

header{
    box-sizing: 0;
    margin:10px;
    padding: 0;
    background-color: white;
    text-decoration: none;
}



li, a, button{
    font-family: 'Nunito',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: grey;
    text-decoration: none;
}
header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav-links{list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: #EC4067;
}
button{
    padding: 10px;
    background-color:#EC4067;
    border: 1;
    border-radius: 10px;
    border-color: #EC4067;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}
button:hover{
    background-color: antiquewhite;
    color: #EC4067;
}

.logo{
    font-size: 30px;
    color: #EC4067;
}
.container{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.active{
    background-color: white;
    color: #EC4067;
}
button{
    color: white;
}
h3{
    font-weight: 2000;
}
.container .card{
    position: relative;
    max-width: 1000px;
    margin: 10px;
    padding: 15px;
    display: flex
}
img{
    width: 300px;
}
.container .card .imgBx{
    max-width: 1000px;
    flex: 30px 200px 150px;
}
.container .card .imgBx img{
    max-width: 100%;
}
.container .card .content{
    margin-left: 70px;
}
.container .card .contenta{
    margin-right: 20px;
}
.container{
    flex-direction: column;
}

.container.card .imgBx{
    max-width: 100%;
}

.cover{
    width: 200px;
    height: 400px;
    margin-top: 5px;
    display: flex;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: 150px;
}
.box{
    margin: 20px;
    width: 200px;
    height: 500px;
}
.boxone{
    margin: 20px;
    width: 200px;
    height: 500px;
}

.boxtwo{
    margin: 20px;
    width: 200px;
    height: 500px;

.
}
.boxthree{
    margin: 20px;
    width: 200px;
    height: 500px;
}
img{
    width: 200px;
    height: 150px;
}

.today{
    margin-left: 170px;
}
.yesterday{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 80px;
}
.yesterday .cord{
    max-width: 100%;
    position: relative;
    max-width: 1000px;
    margin: 10px;
    padding: 15px;
    display: flex
}
}
.yesterday .card .imgBy{
    max-width: 1000px;
    flex: 30px 200px 150px;
}
.yesterday .cord .imgBY img{
    max-width: 100%;
}
.yesterday .card .contact{
    margin-left: 20px;
}
.yesterday{
    flex-direction: column;
}

.yay{
    margin-left: 170px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.end{
    margin-left: 175px;
}
.final{
 
 background-color: whitesmoke;
 padding-top: 10px;
 padding-bottom: 10px;
 width: 1274px;
 text-align: center;
}